.header{
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    position: sticky;
    width: 100vw;
    z-index: 100;
    top: 0;
    background-color:whitesmoke;
    flex-direction: row;
}
.header_icon{
   
    object-fit: cover;
    height: 6rem;
    padding: 1rem 1rem;
}

.header_center {
    display: flex;
    text-align: center;
    max-width: fit-content;
    margin-top: 2rem;
    height: 2rem;
    border: 1px solid grey;
    padding: 1rem;
    border-radius: 99px;
    
    width: 300px;
}

.header_center > input{
   border: none;
   width: 600px;
   
}

.header_right{
    padding: 1rem 2rem;
    display: flex;
    align-items: center; 
}